<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>Label</key>
		<string>com.noobcollective.reme</string>

		<key>Program</key>
		<string>/opt/homebrew/bin/reme</string>

		<key>ProgramArguments</key>
		<array>
			<string>/opt/homebrew/bin/reme</string>
			<string>-daemon</string>
		</array>

		<key>StandardOutPath</key>
		<string>/var/log/reme/common.log</string>

		<key>StandardErrorPath</key>
		<string>/var/log/reme/err.log</string>

		<key>KeepAlive</key><true/>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>
